body {
  background-color: aquamarine;
}

header {
  background-color: bisque;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container {
  background-color: cadetblue;
}
